<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                            http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
                            http://www.springframework.org/schema/tx
                            http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
                            http://www.springframework.org/schema/context
                            http://www.springframework.org/schema/context/spring-context-3.0.xsd">


    <bean id="userMB" class="com.daricili.managed.bean.UserManagedBean">
        <property name="userService" ref="userMongoService" />
    </bean>

    <!-- MongoDB -->
    <bean id="morphia" class="com.google.code.morphia.Morphia"/>

    <bean id="mongo" class="com.mongodb.Mongo">
        <constructor-arg value="127.0.0.1"/>
        <constructor-arg value="27017"/>
    </bean>

    <bean id="datastore" class="com.daricili.dao.mongodb.DatastoreFactoryBean">
        <property name="morphia" ref="morphia"/>
        <property name="mongo" ref="mongo"/>
        <property name="dbName" value="daricili"/>
    </bean>

    <bean id="userDAO" class="com.daricili.dao.mongodb.UserDAO">
        <constructor-arg ref="datastore"/>
    </bean>

    <bean id="userMongoService" class="com.daricili.service.mongodb.impl.UserServiceImpl">
        <property name="userDAO" ref="userDAO" />
    </bean>

    <!-- Hibernate -->

    <!-- Beans Declaration -->
    <bean id="User" class="com.daricili.model.hibernate.User"/>

    <!-- User Service Declaration -->
    <bean id="UserService" class="com.daricili.service.hibernate.impl.UserServiceImpl">
        <property name="userDAO" ref="UserDAO" />
    </bean>

    <!-- User DAO Declaration -->
    <bean id="UserDAO" class="com.daricili.dao.hibernate.impl.UserDAOImpl">
        <property name="sessionFactory" ref="SessionFactory" />
    </bean>

    <!-- Data Source Declaration -->
    <bean id="DataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource" destroy-method="close">
        <property name="driverClass" value="com.mysql.jdbc.Driver" />
        <property name="jdbcUrl" value="jdbc:mysql://localhost:3306/optimus?useUnicode=true&amp;characterEncoding=UTF8" />
        <property name="user" value="user" />
        <property name="password" value="pass" />
        <property name="maxPoolSize" value="10" />
        <property name="maxStatements" value="0" />
        <property name="minPoolSize" value="5" />
    </bean>

    <!-- Session Factory Declaration -->
    <bean id="SessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
        <property name="dataSource" ref="DataSource" />
        <property name="annotatedClasses">
            <list>
                <value>com.daricili.model.hibernate.User</value>
            </list>
        </property>
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
                <prop key="hibernate.show_sql">true</prop>
            </props>
        </property>
    </bean>

    <!-- Enable the configuration of transactional behavior based on annotations -->
    <tx:annotation-driven transaction-manager="txManager"/>

    <!-- Transaction Manager is defined -->
    <bean id="txManager" class="org.springframework.orm.hibernate4.HibernateTransactionManager">
        <property name="sessionFactory" ref="SessionFactory"/>
    </bean>
</beans>
